::-webkit-scrollbar {
  width: 0;
  background: transparent
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none
}

.load {
  color: #fff;
  font-size: 70px;
  text-align: center;
}

.player {
  height: 100vh;
  width: auto;
  background-color: #000;
}

.desc {
  max-width: 1059px;
  padding: 100px 15px;
  display: flex;
  width: 100%;
  align-items: center;
  margin: auto;
  color: #fff;
}

.desc img {
  width: 40%;
  margin-right: 30px;
}

.desc h1 {
  font-size: 30px;
  margin: 0;
}

.altName{
  font-size: 16px !important;
}

.desc h2 {
  font-size: 20px;
}